* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

nav {
    background-color: #222;
}

.nav-item {
    padding: 10px;
}

.nav-item a {
    border-bottom: 2px solid #fff;
    color: #fff;
    text-decoration: none;
}

.nav-item a:hover {
    border-bottom: 2px solid #aaa;
    color: #aaa;
}

.nav-item a:active {
    color: #fff;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: left;
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    margin: 25px 0 25px 0;
}

.welcome-text-home,
.welcome-text-projects {
    margin: 40px 0 0 0;
}

.i-like-text {
    margin-top: 20px;
}

.i-like-item:nth-child(1) {
    padding-top: 4px;
}

.i-like-item:nth-last-child(1) {
    margin-bottom: 40px;
}

.i-like-item {
    border-bottom: 2px solid #fff;
    padding: 2px 0 2px 0;
}

.i-like-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.main-container p {
    padding: 2px 0 2px 0;
}

main {
    flex: 1;
    text-align: center;
}

h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

p {
    font-size: 1rem;
}

footer {
    background-color: #222;
    padding: 10px 0;
}

footer p {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.flex-item:nth-child(1) {
    margin-top: 40px;
}

.flex-item {
    background-color: #222;
    max-width: 560px;
    max-height: 380px;
    padding: 40px;
    display: flex;
    flex-direction: space-between;
    margin-top: 20px;
}

.project-title-desc {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding-right: 1rem;
}

.project-title-desc h2 {
    margin: 0;
}

.project-title-desc p {
    text-wrap: balance;
}

.project-title-desc p:nth-last-child(1) {
    margin-top: 20px;
}

.project-link a {
    border-bottom: 2px solid #fff;
    color: #fff;
    text-decoration: none;
}

.project-link a:hover {
    border-bottom: 2px solid #aaa;
    color: #aaa;
}

.project-link a:active {
    color: #fff;
}

.written-in-menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    list-style-type: none;
}

.written-in p {
    text-align: center;
    margin-bottom: 6px;
    border-bottom: 2px solid #fff;
}

.written-in-item {
    padding: 2px 0 2px 0;
    text-wrap: nowrap;
}

/* Media Queries */
@media (max-width: 900px) {
    .main-container {
        padding: 0 1rem 0 1rem;
    }
}

@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        padding: 10px 0;
    }
}

@media (max-width: 600px) {
    .flex-item {
        max-width: 420px;
        max-height: 340px;
    }
}

@media (max-width: 480px) {
    .flex-item {
        max-width: 400px;
    }
    .profile-pic {
        width: 80%;
        margin: 20px 0;
    }
}

@media (max-width: 430px) {
    .flex-item {
        max-width: 360px;
    }
}

@media (max-width: 390px) {
    .flex-item {
        max-width: 320px;
    }
}